<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">Chatty McChatface</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <!-- Logged In State -->
        <ng-container *ngIf="isAuthenticated$ | async as authed">
          <li>
            <a>Welcome, {{ (currentUser$ | async)?.username }}!</a>
          </li>
          <li>
            <a (click)="logout()" style="cursor: pointer">Logout</a>
          </li>
        </ng-container>

        <!-- Logged Out State -->
        <ng-container *ngIf="!(isAuthenticated$ | async)">
          <li><a routerLink="/user/login">Login</a></li>
          <li><a routerLink="/user/register">Register</a></li>
        </ng-container>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>
