<div
  class="col-sm-pull-8 col-md-pull-9 col-sm-4 col-md-3 hidden-print"
  id="sidebar"
  role="complementary"
>
  <div class="blog-summary-sidebar">
    <aside class="widget">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Filter participants..."
          [(ngModel)]="userFilter"
        />
      </div>
      <h5 class="widget-title"><span>Create new chat</span></h5>
      <ul *ngIf="participants" class="list-unstyled icon-list">
        <li *ngFor="let participant of getFilteredParticipants()">
          <a
            (click)="toggleParticipantSelection(participant)"
            [class.selected]="isParticipantSelected(participant)"
          >
            <span
              class="fas fa-lg"
              [ngClass]="
                isParticipantSelected(participant)
                  ? 'fa-minus-circle'
                  : 'fa-plus-circle'
              "
            ></span>
            <i
              *ngIf="participant.isPersona"
              class="fas fa-robot text-info me-2"
            ></i>
            {{ participant.displayName }}
          </a>
        </li>
      </ul>
      <span class="input-group-btn">
        <button
          (click)="createChat()"
          type="submit"
          class="btn btn-primary"
          [disabled]="selectedParticipants.length === 0 || creating"
        >
          Get Chatty
        </button>
      </span>
    </aside>
  </div>
</div>
