<div class="container mt-4">
  <div class="row">
    <!-- /.col-*-6 -->
    <div class="col-md-6">
      <h3 class="mb-4">Join the Conversation!</h3>
      <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
        {{ errorMessage }}
      </div>
      <form
        #registerForm="ngForm"
        (ngSubmit)="registerClicked(registerForm.value)"
      >
        <div class="form-group mb-3">
          <input
            name="email"
            type="email"
            class="form-control form-control-lg"
            placeholder="Email"
            ngModel
            required
            email
            #emailInput="ngModel"
          />
          <div
            *ngIf="emailInput.invalid && emailInput.touched"
            class="alert alert-danger"
          >
            <div *ngIf="emailInput.errors?.['required']">
              Email is required.
            </div>
            <div *ngIf="emailInput.errors?.['email']">
              Please enter a valid email.
            </div>
          </div>
        </div>
        <div class="form-group mb-3">
          <input
            name="password"
            type="password"
            class="form-control form-control-lg"
            placeholder="Password"
            ngModel
            required
            minlength="6"
            #passwordInput="ngModel"
          />
          <div
            *ngIf="passwordInput.invalid && passwordInput.touched"
            class="alert alert-danger"
          >
            <div *ngIf="passwordInput.errors?.['required']">
              Password is required.
            </div>
            <div *ngIf="passwordInput.errors?.['minlength']">
              Password must be at least 6 characters.
            </div>
          </div>
        </div>
        <div class="form-group mb-3">
          <input
            name="firstName"
            type="text"
            class="form-control form-control-lg"
            placeholder="First name"
            ngModel
            required
            #firstNameInput="ngModel"
          />
          <div
            *ngIf="firstNameInput.invalid && firstNameInput.touched"
            class="alert alert-danger"
          >
            First name is required.
          </div>
        </div>
        <div class="form-group mb-3">
          <input
            name="lastName"
            type="text"
            class="form-control form-control-lg"
            placeholder="Last name"
            ngModel
            required
            #lastNameInput="ngModel"
          />
          <div
            *ngIf="lastNameInput.invalid && lastNameInput.touched"
            class="alert alert-danger"
          >
            Last name is required.
          </div>
        </div>
        <p class="text-center mt-4">
          <button
            [disabled]="!registerForm.valid"
            class="btn btn-default btn-block btn-lg btn-inverse"
            type="submit"
          >
            <i class="fas fa-user-plus"></i> Register
          </button>
        </p>
      </form>

      <p class="text-center clear">
        Gotten chatty before? <a routerLink="/user/login">Login</a>
      </p>
    </div>
  </div>
</div>
