<div class="container blog summary">
  <div class="row">
    <div
      class="col-sm-8 col-md-9 col-sm-push-4 col-md-push-3 primary-column"
      role="main"
    >
      <div
        #chatContainer
        id="chatContainer"
        style="overflow-y: auto; max-height: 500px"
      >
        <!-- Persona info near chat title -->
        <div *ngIf="personaConfig" class="persona-info">
          <small>Chatting with: {{ personaConfig.displayName }}</small>
        </div>
        >
        <article
          *ngFor="let chat of chats"
          [ngClass]="{
            'persona-message': chat.userId === +(personaUserId || 0)
          }"
        >
          <div class="testimonial">
            <blockquote>
              <p>{{ chat.text }}</p>
            </blockquote>
          </div>

          <div class="author-wrapper">
            <div class="arrow"></div>
            <div class="cite">
              <span class="sender-name">
                <ng-container
                  *ngIf="
                    chat.userId === +(personaUserId || 0);
                    else regularUser
                  "
                >
                  {{ personaConfig?.displayName }}:
                </ng-container>
                <ng-template #regularUser>
                  {{ chat.userFirstName }} {{ chat.userLastName }}:
                </ng-template>
              </span>
              <span>
                {{ chat.date | date : "short" }}
              </span>
            </div>
          </div>
        </article>
      </div>
      <div>
        <div class="form-group">
          <textarea
            [(ngModel)]="text"
            class="form-control"
            rows="5"
            id="comment"
            (keydown)="handleKeyDown($event)"
            placeholder="Type your message here... (Press Enter to send, Shift+Enter for new line)"
          ></textarea>
        </div>
        <span class="input-group-btn">
          <button
            (click)="sendChat()"
            type="submit"
            class="btn btn-default btn-lg"
            [disabled]="sending"
          >
            Send Message
          </button>
        </span>
        <div *ngIf="error" class="alert alert-danger mt-2">
          {{ error }}
        </div>
      </div>

      <div class="hidden-sm">&nbsp;</div>
    </div>

    <div
      class="col-sm-pull-8 col-md-pull-9 col-sm-4 col-md-3 hidden-print"
      id="sidebar"
      role="complementary"
    >
      <div class="blog-summary-sidebar">
        <!-- Display persona info if available -->
        <aside class="widget persona-info" *ngIf="personaName">
          <h5 class="widget-title"><span>Chatting with AI Persona</span></h5>
          <div class="persona-name">{{ personaName }}</div>
        </aside>
        <aside class="widget">
          <h5 class="widget-title"><span>Users in chat</span></h5>
          <ul class="list-unstyled icon-list">
            <li *ngFor="let user of usersInRoom">
              <a> {{ user.firstName }} {{ user.lastName }} </a>
            </li>
          </ul>
          <span class="input-group-btn">
            <button (click)="exitChat()" type="submit" class="btn btn-footer">
              Exit Chat
            </button>
          </span>
        </aside>
      </div>
    </div>
  </div>
</div>
