<div
  class="col-sm-8 col-md-9 col-sm-push-4 col-md-push-3 primary-column"
  role="main"
>
  <div class="form-group">
    <label for="personaSelect">Select Persona (Optional):</label>
    <select
      id="personaSelect"
      class="form-control"
      [(ngModel)]="selectedPersona"
    >
      <option [ngValue]="null">-- Select Persona --</option>
      <option *ngFor="let persona of personas" [value]="persona.personaUserId">
        {{ persona.displayName }}
      </option>
    </select>
  </div>
  <article class="entry-summary" *ngFor="let chatroom of chatrooms">
    <header class="entry-header">
      <h3 class="entry-title">
        <a>{{ chatroom.users | userNames }}</a>
        <span *ngIf="chatroom.personaConfig" class="persona-indicator">
          ({{ chatroom.personaConfig.displayName }})</span
        >
      </h3>
    </header>

    <div class="row sixteen-gutter">
      <div *ngIf="chatroom" class="col-sm-12 entry-content">
        <p>
          <button
            (click)="enterChatroom(chatroom)"
            class="btn btn-default"
            href="blog-single.html"
          >
            Enter Chat
          </button>
        </p>
      </div>
    </div>
  </article>
</div>
