<div class="col-sm-8 col-md-9 col-sm-push-4 col-md-push-3 primary-column" role="main">

    <article class="entry-summary" *ngFor="let chatroom of _chatrooms">
        <header class="entry-header">
            <h3 class="entry-title"> <a href="blog-single.html">{{chatroom.users | userNames}}</a> </h3>
        </header>

        <div class="row sixteen-gutter">
            <div *ngIf="chatroom" class="col-sm-12 entry-content">
                <div *ngFor="let chat of chatroom.chats">
                    <div class="testimonial ">
                        <blockquote>
                            <p>{{chat.text}}</p>
                        </blockquote>
                    </div>

                    <div class="author-wrapper">
                        <div class="arrow">
                        </div>
                        <div class="cite">
                            {{chat.user.firstName}} {{chat.user.lastName}},
                            <span>
                                {{chat.date | moment}}
                            </span>
                        </div>
                    </div>

                </div>
                <p>
                    <button (click)="enterChatroom(chatroom)" class="btn btn-default" href="blog-single.html">Enter Chat</button>
                </p>
            </div>
        </div>
    </article>
</div>