<div class="container blog summary">
    <div class="row">
        <div class="col-sm-8 col-md-9 col-sm-push-4 col-md-push-3 primary-column" role="main">
            <div id="chatContainer" style="overflow-y: auto;max-height: 500px;">
                <article *ngFor="let chat of chats">
                    <div class="testimonial ">
                        <blockquote>
                            <p>{{chat.text}}</p>
                        </blockquote>
                    </div>

                    <div class="author-wrapper">
                        <div class="arrow">
                        </div>
                        <div class="cite">
                            {{chat.user.firstName}} {{chat.user.lastName}},
                            <span>
                                {{chat.date | moment}}
                            </span>
                        </div>
                    </div>
                </article>
            </div>
            <div>
                <div class="form-group">
                    <textarea [(ngModel)]="text" class="form-control" rows="5" id="comment"></textarea>
                </div>
                <span class="input-group-btn">
                        <button (click)="sendChat()" type="submit" class="btn btn-default btn-lg">Do Chat Thing</button>
                </span>
            </div>
            
            <div class="hidden-sm">&nbsp;</div>
        </div>



        <div class="col-sm-pull-8 col-md-pull-9 col-sm-4 col-md-3 hidden-print" id="sidebar" role="complementary">
            <div class="blog-summary-sidebar">
                <aside class="widget">
                    <h5 class="widget-title"><span>Users in chat</span></h5>
                    <ul class="list-unstyled icon-list">
                        <li *ngFor="let user of users">
                            <a>
                               {{user.firstName}} {{user.lastName}}
                            </a>
                        </li>
                    </ul>
                    <span class="input-group-btn">
                        <button (click)="exitChat()" type="submit" class="btn btn-footer">Exit Chat</button>
                    </span>
                </aside>
            </div>
        </div>
        
    </div>
</div>