<header class="header">
  <div class="header-inner">
    <div class="logo-brand logo-font">
      <a
        class="navbar-brand"
        routerLink="/"
        style="
          color: #333333;
          font-weight: bold;
          min-width: 250px;
          white-space: nowrap;
        "
        >{{ displayedTitle }}</a
      >
    </div>

    <!-- Logged In View -->
    <div *ngIf="currentUser" class="header-btn-bar">
      <div class="header-btn-wrapper clearfix">
        <div class="header-btn-row half-row">
          <a class="header-btn header-btn-xl">
            <span class="header-btn-text">
              Hello, {{ currentUser.firstName }} {{ currentUser.lastName }}
            </span>
          </a>
        </div>
        <div class="header-btn-row half-row">
          <a class="header-btn header-btn-xl"></a>
          <!-- Placeholder -->
          <a
            (click)="logout()"
            class="header-btn header-btn-xl"
            style="border-right: 0; cursor: pointer"
          >
            <i class="fa fa-sign-out header-icon"></i>
            <!-- Updated icon -->
            <span class="header-btn-text">Logout</span>
          </a>
        </div>
      </div>
    </div>

    <!-- Logged Out View -->
    <div *ngIf="!currentUser" class="header-btn-bar">
      <div class="header-btn-wrapper clearfix">
        <div class="header-btn-row half-row">
          <a
            (click)="login()"
            class="header-btn header-btn-xl"
            style="cursor: pointer"
          >
            <i class="fa fa-sign-in header-icon"></i>
            <span class="header-btn-text">Login</span>
          </a>
          <a class="header-btn header-btn-xl" style="border-right: 0"></a>
          <!-- Placeholder -->
        </div>
        <div class="header-btn-row half-row">
          <a class="header-btn header-btn-xl"></a>
          <!-- Placeholder -->
          <a
            (click)="signUp()"
            class="signin-toggle header-btn header-btn-xl"
            style="border-right: 0; cursor: pointer"
          >
            <i class="fa fa-pencil header-icon"></i>
            <span class="header-btn-text">Sign Up</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
